@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

$primary__color: "#ffff";
$secondary__color: "#36454f";
$thirdly__color: "#334152";

$desktopB: "1920px";
$desktopBM: "1750px";
$desktopM: "1600px";
$desktopS: "1440px";
$desktopSS: "1280px";
$tabletB: "1080px";
$tabletM: "900px";
$tabletS: "700px";
$mobileB: "550px";
$mobileM: "400px";
$mobileS: "360px";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: white;
}

@font-face {
  font-family: "Montserrateng";
  font-weight: normal;
  src: url("./fonts/montserrateng/static/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: medium;
  src: url("./fonts/montserrateng/static/Montserrat-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: medium;
  font-style: italic;
  src: url("./fonts/montserrateng/static/Montserrat-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: bold;
  src: url("./fonts/montserrateng/static/Montserrat-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: bolder;
  src: url("./fonts/montserrateng/static/Montserrat-Black.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: 600;
  src: url("./fonts/montserrateng/static/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: lighter;
  src: url("./fonts/montserrateng/static/Montserrat-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Articulat";
  font-weight: normal;
  src: url("./fonts/articulat/articulatcf-normal.otf") format("otf");
}
@font-face {
  font-family: "Articulat";
  font-weight: medium;
  src: url("./fonts/articulat/articulatcf-medium.otf") format("otf");
}
@font-face {
  font-family: "Articulat";
  font-weight: bold;
  src: url("./fonts/articulat/articulatcf-bold.otf") format("otf");
}
@font-face {
  font-family: "Articulat";
  font-weight: bolder;
  src: url("./fonts/articulat/articulatcf-extrabold.otf") format("otf");
}
@font-face {
  font-family: "Articulat";
  font-weight: semibold;
  src: url("./fonts/articulat/articulatcf-demibold.otf") format("otf");
}
@font-face {
  font-family: "Articulat";
  font-weight: light;
  src: url("./fonts/articulat/articulatcf-light.otf") format("otf");
}

@font-face {
  font-family: "Sometimestimes";
  src: url("./fonts/sometimestimes/Sometimes\ Times.ttf") format("truetype");
}
@font-face {
  font-family: "Sometimestimes";
  font-style: italic;
  src: url("./fonts/sometimestimes/Sometimes\ Times\ Italic.ttf")
    format("truetype");
}

.main-cursor {
  position: fixed;
  pointer-events: none;
  width: 359px;
  height: 359px;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: overlay;
  -webkit-filter: blur(141px);
  filter: blur(141px);
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  z-index: 1000000000000000000000000;
  opacity: 0.8;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}

.navbar {
  &.menu__panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    border-bottom: 1px solid #f2f2f2;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  &.fixed_white {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 64px;
    width: 100%;
    transition: all 0.5s ease;
    height: 80px;
    &::before {
      opacity: 1 !important;
    }
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2) {
      display: block;
    }
    li {
      color: black;
      font-weight: 600;
    }
    button {
      color: black;
      border-color: black;
      &:hover {
        background: $secondary__color;
        div div:nth-child(2) {
          color: white !important;
        }
      }
    }
  }
  .menu_btn:after,
  .menu_btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s ease;
  }
  .menu_btn_fixed:after,
  .menu_btn_fixed:before {
    background: black;
  }
  .menu_btn:before {
    top: 60%;
  }
  .menu_btn:after {
    top: 40%;
  }
  .menu_btn_clicked:before {
    transform: rotate(45deg);
    top: 50%;
  }
  .menu_btn_clicked:after {
    transform: rotate(-45deg);
    top: 50%;
  }
  &.invert_color {
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2) {
      display: block;
    }
    li {
      color: black;
      font-weight: 600;
    }
    button {
      color: black;
      border-color: black;
      &:hover {
        background: $secondary__color;
        div div:nth-child(2) {
          color: white !important;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #eeee;
      height: 1px;
      width: 90%;
    }
    .menu_btn:after,
    .menu_btn:before {
      background-color: #000000;
    }
  }
}

.modal {
  .request__close:after,
  .request__close:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    height: 1px;
    background-color: #fff;
  }
  .request__close:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .request__close:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .request__checkmark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: #afb0b2;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .request_checked {
    -webkit-box-sizing: initial;
    box-sizing: initial;
    border: 1px solid #fff;
    background-color: #261d1d !important;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  }
  .request_checked:before {
    background-color: #ffff !important;
    border: 0 !important;
  }
}

.hero {
  .MySwiper {
    .autoplay-progress div {
      --progress: 0;
      width: var(--progress);
    }
  }
}

.projects_section {
  .project {
    background: #080808;
    position: relative;
    width: 650px;
    height: 550px;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    transition: transform 0.3s;
    & > div:nth-child(1) {
      font-size: 2.5vw;
      position: absolute;
      font-weight: 600;
      text-align: center;
      overflow: hidden;
      pointer-events: none;
      color: white;
      top: 50%;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    &:hover {
      transform: translateY(-20px);
    }
    @media screen and (max-width: $desktopM) {
      width: 600px;
      height: 500px;
    }
  }
}

.random {
  .social__tag {
    font-weight: 700;
    z-index: 10000;
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
}

.about {
  .parallax_scroll {
    .imageContainer {
      &:nth-of-type(1) {
        height: 60vh;
        width: 50vh;
        z-index: 1;
      }
      &:nth-of-type(2) {
        left: 55vw;
        top: 15vh;
        height: 40vh;
        width: 30vh;
        z-index: 2;
      }
      &:nth-of-type(3) {
        left: 27.5vw;
        top: 40vh;
        height: 25vh;
        width: 20vh;
        z-index: 3;
      }
    }
  }
  .team {
    .group::after {
      background-color: #ffffff;
      bottom: 0;
      content: "";
      height: 0.0694444444vw;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 100%;
      will-change: transform;
    }
    .group:hover::after {
      transform: scaleX(100%);
    }
    .wrap::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .group:hover .wrap::before {
      transform: scale(1.05);
    }
  }
  .smooth_parallax {
    .column {
      &:nth-of-type(1) {
        top: -45%;
      }
      &:nth-of-type(2) {
        top: -95%;
      }
      &:nth-of-type(3) {
        top: -45%;
      }
      &:nth-of-type(4) {
        top: -75%;
      }
    }
  }
}

.projects {
  .tb_gradient {
    background: linear-gradient(
      0deg,
      hsla(0, 0%, 5%, 0) 50%,
      hsla(0, 0%, 5%, 0.01) 52.25%,
      hsla(0, 0%, 5%, 0.02) 54.28%,
      hsla(0, 0%, 5%, 0.031) 56.16%,
      hsla(0, 0%, 5%, 0.043) 57.99%,
      hsla(0, 0%, 5%, 0.057) 59.85%,
      hsla(0, 0%, 5%, 0.074) 61.84%,
      hsla(0, 0%, 5%, 0.093) 64.04%,
      hsla(0, 0%, 5%, 0.116) 66.55%,
      hsla(0, 0%, 5%, 0.142) 69.44%,
      hsla(0, 0%, 5%, 0.172) 72.81%,
      hsla(0, 0%, 5%, 0.207) 76.76%,
      hsla(0, 0%, 5%, 0.246) 81.36%,
      hsla(0, 0%, 5%, 0.291) 86.71%,
      hsla(0, 0%, 5%, 0.343) 92.89%,
      hsla(0, 0%, 5%, 0.4)
    );
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .container {
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .copy {
      h2 {
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
    .downarrow {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: white;
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }
}
